<head>
    <meta charset="UTF-8">
    <title><%- locals.title || "Web Express Pro - Build a better web with FlexJs." -%></title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Web Express Pro - Designing and developing the web with JavaScript.">
    <meta property="og:title" content="Web Express Pro" />
    <meta property="og:type" content="articles" />
    <meta property="og:url" content="https://www.webexpress.pro/" />
    <meta property="og:image" content="/assets/logo.png" />
    <meta property="og:description" content="Web Express Pro - Designing and developing the web with JavaScript." />
    <link rel="apple-touch-icon" href="/assets/logo.png">
    <link rel="shortcut icon" href="https://cdni.iconscout.com/illustration/premium/thumb/web-development-programming-4315061-3610795.png" type="image/x-icon">
    <link rel="icon" href="/assets/logo.png" type="image/x-icon">
    <meta property="fb:app_id" content="your_app_id" />
    <meta name="facebook:image:alt" content="Web Express Pro">
    <meta name="facebook:Web Express Pro" content="Designing and developing the web with JavaScript. ">
    <meta name="facebook:description" content="Building custom websites with JavaScript, not platforms. Get better management and same expected results.">
    <meta name="facebook:image" content="/assets/logo.png">
    <meta name="facebook:image:alt" content="Web Express Pro">
    <meta name="facebook:card" content="https://cdni.iconscout.com/illustration/premium/thumb/web-development-programming-4315061-3610795.png">
    <meta name="twitter:site" content="@website-username">
    <meta name="twitter:Web Express Pro" content="Designing and developing the web with JavaScript.">
    <meta name="twitter:description" content="Web Express Pro - Designing and developing the web with JavaScript.">
    <meta name="twitter:image" content="/assets/logo.png">
    <meta name="twitter:card" content="https://cdni.iconscout.com/illustration/premium/thumb/web-development-programming-4315061-3610795.png">
    <meta name="twitter:image:alt" content="Web Express Pro">
    <script src="https://kit.fontawesome.com/e6e21676c0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/src/scss/navbar.css">
    <link rel="stylesheet" href="/src/scss/index.css">
    <link rel="stylesheet" href="/src/scss/animations.css">
    <link rel="stylesheet" href="/src/scss/main.css">
    <link rel="stylesheet" href="/src/scss/styles.css">
</head>