<nav class="navbar fixed-top bg-white-gradient">

    <ul class="navbar-nav-left">
        <li class="navbar-brand">
            <a href="/" class="navbar-brand">
                <img src="/assets/logo.png" height="30" width="40" alt="logo">
            </a>
        </li>
        <li class="navbar-item">
            <a href="/about" class="navbar-link">About</a>
        </li>
        <li class="navbar-item">
            <a href="/projects" class="navbar-link">Projects</a>
        </li>
        <li class="navbar-item">
            <a href="/contact" class="navbar-link">Contact</a>
        </li>
    </ul>
    <ul class="navbar-nav-right">
        <li class="drop-down-menu">
            <a href="" class="drop-down-link">
                <i class="fa-solid fa-bars"></i>
            </a>
            <div class="drop-down-content">
                <a href="/" class="link-item">Home</a>
                <a href="/about" class="link-item">About</a>
                <a href="/contact" class="link-item">Contact</a>
                <a href="/projects" class="link-item">Projects</a>
                <form action="/search" class="form-wrapper">
                    <input type="search" placeholder="Search" class="form-control">
                </form>
                <a href="/accounts" class="link-item">Accounts</a>
                <a href="/login" class="link-item">Support</a>
            </div>
        </li>
        <li class="navbar-item">
            <form action="/search">
                <input type="search" placeholder="Search" class="form-control">
                <i class="fas fa-search"></i>
            </form>
        </li>
        <% if(!loggedIn) { %>
            <li class="navbar-item">
                <a href="/accounts" class="navbar-link">Register</a>
            </li>
            <li class="navbar-item">
                <a href="/login" class="navbar-link">Login</a>
            </li>
        <% } else { %>
            <li class="navbar-item">
                <a href="/newProject" class="navbar-link">New Project</a>
            </li>
            <li class="navbar-item">
                <a href="/logout" class="navbar-link">Logout</a>
            </li>
        <% } %>
    </ul>
</nav>