<!doctype html>
<html lang="en">
<%- include('layouts/header') -%>
<body>
<header>
    <%- include('layouts/navBar') -%>
</header>

<main class="container-fluid h-100" style="margin-top: 130px;">
    <div class="row align-items-center">
        <div class="col-lg-6 mb-3">
            <h1 class="display-4">FlexJs Solutions</h1>
            <p class="lead">
                Use FlexJs to design your business and create a responsive website for your visitors that will showcase your brand.
                I customize your website to be uniquely yours, and it will look great on all devices.
            </p>
            <hr class="line my-2">
            <section class="btn-block">
                <a href="#!" class="btn btn-outline-primary">Previous Projects</a>
                <a href="https://www.npmjs.com/package/@stephenbrooks714/flexjs" target="_blank" class="btn btn-primary">Using FlexJs</a>
            </section>
        </div>
        <div class="col-lg-6 mb-3">
            <img src="./assets/business-illustration.png" class="img-fluid w-100" alt="Design Your Business" />
        </div>
    </div>
    <p style="margin-top: 40px; margin-left: 20px;" class="h1">What We Use for Building Blocks</p>
    <p class="text-muted mb-1" style="margin-left: 20px;">
        Every framework has its own approach to building the web with a responsive & cross-browser design.
        FlexJs was created with this in mind. To offer a different framework, FlexJs was created with a different approach.
    </p>
    <section class="row text-center">
        <div class="col-lg-3 mb-3">
            <a href="https://www.atlassian.com/software/jira?&aceid=%7Baceid%7D&adposition=&adgroup=1299623178663492&campaign=470092301&creative=&device=c&keyword=jira&matchtype=e&network=o&placement=&ds_kids=p74463813356&ds_e=MICROSOFT&ds_eid=700000001738795&ds_e1=GOOGLE&msclkid=d1dc7c5c5ff91bb560bc1a16dad00c86&gclid=d1dc7c5c5ff91bb560bc1a16dad00c86&gclsrc=3p.ds" target="_blank">
                <div class="card">
                    <div class="card-icon">
                       Jira <i class="fa-brands fa-jira"></i>
                    </div>
                    <p class="card-body">
                        Managing work and tracking progress in platform, so that we keep your project going.
                    </p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 mb-3">
            <a href="https://www.figma.com/" target="_blank">
                <div class="card">
                    <div class="card-icon">
                        Figma <i class="fa-brands fa-figma"></i>
                    </div>
                    <p class="card-body">
                        Figma is a collaborative design tool that lets you create, edit, and share your designs.
                    </p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 mb-3">
            <a href="https://www.javascript.com/" target="_blank">
                <div class="card">
                    <div class="card-icon">
                        JavaScript <i class="fa-brands fa-js"></i>
                    </div>
                    <p class="card-body">
                        Created with a programming language that has a strong focus on web development.
                    </p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 mb-3">
            <a href="https://expressjs.com/" target="_blank">
                <div class="card">
                    <div class="card-icon">
                        Express <i class="fa-brands fa-node"></i>
                    </div>
                    <p class="card-body">
                        By using express, I can create a fullstack web application to build a CMS for your project.
                    </p>
                </div>
            </a>
        </div>
    </section>
    <section class="row align-items-center">
        <div class="col-lg-6 mb-3">
            <h4 class="display-5 mb-2">We Know Business</h4>
            <p class="text-muted mb-2">
                Making your business a success is our mission, whereas we are here to help you succeed. Whether you are a small business, or an enterprise, we can help you achieve your goals.
                I combine my experience with the latest technologies to design pages. I use the features to make a fullstack web application to build a CMS.
            </p>
            <img src="./assets/Business-Growth.png" height="100" width="120" alt="We Know Business">
            <img src="./assets/marketing.png" height="100" width="120" alt="marketing">
            <img src="./assets/visitors.png" height="100" width="120" alt="visitors">
        </div>
        <div class="col-lg-6 mb-3">
            <img src="./assets/office-concept.png"
                 class="img-fluid w-100" alt="We Know Business">
        </div>
    </section>
    <article class="row mb-5">
        <div class="col-lg-12">
            <a href="#!">
                <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
            </a>
            <span class="h1 fw-bold mb-2">Making A Difference</span>
            <p class="text-muted mb-3">
                Not just building a framework for responsive pages, but also a fullstack web application to code a CMS. It is our primary focus to make your business a success.
                Inside every web application, we use the most up-to-date technologies.
            </p>
            <a href="">
                <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
            </a>
            <span class="h1 fw-bold mb-2">Design & Development</span>
            <p class="text-muted mb-3">
                Designing and developing starts after we get your project into our hands. We then use our own framework to lay out the pages and content for the ultimate user experience.
                You have the freedom to choose a design your own pages and content, then we code it.
            </p>
            <a href="">
                <span id="styles" class="arrow"><i class="fa-solid fa-arrow-right"></i></span>
            </a>
            <span class="h1 fw-bold mb-2">Technologies Used</span>
            <p class="text-muted">
                Technologies used make the project render responsive and bring the user experience to life. We use the most up-to-date technologies, to include
                a backend that will make your project manageable.
            </p>
        </div>
    </article>
</main>

<%- include('layouts/footer') -%>
</body>
</html>