<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body onload="redirect()">
<header>
    <%- include('layouts/navBar') -%>
</header>

<main class="container" style="margin-top: 170px; margin-bottom: 110px;">
    <div class="row justify-content-center align-items-center" >
        <div class="col-lg-12 text-center">
            <h1 class="display-4 mb-3">Thank You</h1>
            <p class="h1">
                We will be in touch soon.
            </p>
            <div id="result"></div>
        </div>
    </div>
</main>
<%- include('layouts/footer') -%>
<script>

    function redirect () {
        setTimeout(myURL, 4000);
        const result = document.getElementById("result");
        result.innerHTML = "<p> The page will redirect after a delay of 4 seconds</p>";
    }

    function myURL() {
        document.location.href = 'https://www.webexpress.pro/';
    }
</script>
</body>
</html>
