.btn-block {
    display: flex;
    justify-content: start;
    align-items: start;

    .btn {
      padding: 0.5rem 1rem;
      margin: 0 0.5rem;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
    }
  .btn-primary {
    background-color: #4b8bbe;
    color: white;
    border: 1px solid #4b8bbe;

    &:active {
      background-color: #4b8bbe;
      color: white;
      border: 1px solid #4b8bbe;
    }
  }
  .btn-outline-primary {
    background-color: white;
    color: #4b8bbe;
    border: 1px solid #4b8bbe;

    &:active {
      background-color: #4b8bbe;
      color: white;
      border: 1px solid #4b8bbe;
    }
  }
}
.about-line {
    width: 190px;
    margin: auto;
    height: 3px;
    background-color: #4b8bbe;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.mt-4 {
    margin-top: 1.5rem!important;
}
.p-3 {
    padding: 1rem!important;
}
.rounded {
    border-radius: .25rem!important;
}
button.btn {
  border-radius: 0.5rem;
  padding: 0.7rem;
  width: 100%;
  border: 1px solid #dee2e6;
  cursor: pointer;
  font-size: 1.2rem;
}
.btn-primary {
  background-color: #4b8bbe;
  border: 1px solid #4b8bbe;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: #343a40;
    border: 1px solid #343a40;
  }
}
.flip-box {
  background-color: #dee2e6;
  width: 100%;
  height: 220px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  @media (max-width: 992px) {
    height: 400px;
    width: 90%;
    margin: auto;
    img {
      height: 400px;
    }
  }
}
.btn {
  border-radius: 0.5rem;
  padding: 0.7rem;
  width: 100%;
  border: 1px solid #dee2e6;
  cursor: pointer;
  font-size: 1rem;
}
.btn-primary {
  background-color: #4b8bbe;
  border: 1px solid #4b8bbe;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: #343a40;
    border: 1px solid #343a40;
  }
}
.btn-outline-primary {
  background-color: white;
  color: #4b8bbe;
  border: 1px solid #4b8bbe;
  &:hover {
    background-color: #4b8bbe;
    color: white;
    border: 1px solid #4b8bbe;
  }
}
a.hover-zoom {
  text-decoration: none;
  color: black;
  img {
    transition: transform .3s ease;
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: fit-content;
  flex-direction: column;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: #4b8bbe;
  color: white;
  transform: rotateY(180deg);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  .justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
  }
  .align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-lg-8 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 992px) {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;

      .form-label {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
      }
      .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 1rem + 2px);
        padding: 0.5rem 0.6rem;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
    }
  }
}